html, body {
    height: 100%;
    margin: 0;
  }

p{
    font-family: sans-serif;
    line-height: 1.2;
}

textarea{
    resize: none;
}

#contentContainer{
    margin-right: 10px;
    height: 90%;
}

#poleLogo{
    margin-right: 0px;
    width: 100%;
    height: 100%;
    border: none;
}

#contentPart{
    padding: 20px;
    overflow-y: auto;
}

#footerButtons{
    padding-right: 20px;
    border-top: solid 1px;
    border-color: rgba(0, 0, 0, 0.679);
}

#rmvButton{
    float: right;
    width: 40px;
}

#domainAdd{
    width: 40px;
}

#pathAddButton{
    width: 40px;
}

#pathRemoveButton{
    float: right;
    width: 40px;
}

#logMessage{
    display: none;
}

#buttonsContainer{
    margin-right: 135px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#textContainer{
    margin-right: 160px;
}
